{
  "extends": "airbnb",
  "globals": {
    "__ONBUILD_SERVER_RENDERING__": true,
    "__ONBUILD_REDUX_DEVTOOLS__": true,
    "__ONBUILD_REACT_PERF__": true,
    "__DEVELOPMENT__": true,
    "__PRODUCTION": true,
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true
  },
  "parser": "babel-eslint"
}
